main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  min-height: 300px;
  margin-bottom: 152px;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero h1 {
  background: url(../../images/section-top-bg.png) left bottom/cover no-repeat;
  padding: 40px;
  color: #fff;
  font: 400 48px 'Oswald',serif;
  line-height: 1;
  position: absolute;
  bottom: -152px;
  width: 100%;
}
